body{
    background-image: url("https://i.pinimg.com/originals/29/d2/46/29d246cc8954f12113b3b86b0051464e.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
